<!--
<div id="allbubble_user" class="bubble_item">


  <div class="bubble_itemup">
    <div>
      <div></div>
      <div class="bubble_line"></div>
    </div>
    <div>
      <div></div>
      <div id ="count_block"></div>
      <div></div>
    </div>
    <div>
      <div></div>
      <div class="bubble_line"></div>
    </div>
  </div>
  <div class="bubble_itemdown">
    <div></div>
    <p id="content_user" class="bubble_text_area"></p>
  </div>


</div>
!-->



<div id="imbigbubble' + this.bubblecount + '"style="float:left">
  <div  style="width: 80px; height :10px;"></div>
  <div  id="immyBubble' + this.bubblecount + '" style="border:5px solid black; width:60px;height:60px;-webkit-border-radius:100px;-moz-border-radius:100px;font-size: 50px;line-height: 130%;" align = "center"    draggable="true" > + this.bubblecount + </div>
  <div  style="width: 80px; height :10px;"></div>
</div>
<!--//이밴트 + 화살표 !-->
<div id="imeventallow' + this.bubblecount + '"style="float:left;">
  <div id="immyEvent_button' + this.bubblecount + '" style = "width:50px; height:20px; background-size: 50px 20px; "></div>
  <div id="imarrow' + this.bubblecount + '" style = "width:50px; height:60px; background-size: 50px 60px; "></div>
  <div style = "width:50px; height:20px;"></div>
</div>
<!--//추가할 버블 !-->
<div id="imaddbubble' + this.bubblecount + '" style="float:left;"></div>




















