
<div class="___tbb___ ___tbb__es___">

<!--
  <div id="controlbar_user" align="right">
      <input type="button" id="statususer_trigger" value="statususer_trigger">
  <input type="button" id="go_first" value="go_first">


<input type="button" id="cancel" value="cancel">
  

  <div id="leftScroll" style="  position: fixed;bottom: 0;width: 5%;height: 150px;background-size: 70px 150px;display: none;"></div>
  <div id="myStatus" style="  float: left;width: 90%;margin-left: 5%;overflow: auto;overflow-y: hidden;position: fixed;bottom: 0;height: 150px;border: 1px  solid #aaaaaa;display:none;">
       <div id="myStatus_down" style="  bottom: 0;width: 100%;overflow: auto;overflow-y: hidden;background-color: white;border: 1px  solid #aaaaaa;">
          <div  style="float:left; width: 10px; height :100%;"></div>
       </div>
  </div>
  <div id="rightScroll" style=" margin-left: 95%;float: left;position: fixed;bottom: 0;width: 5%;height: 150px;background-size: 70px 150px;display: none;"></div>
 -->

  <div id="bubblemap_user">
    <div id="bubblemap_trigger">
      <p id="bubblemap_updown">버블맵 열기</p>
    </div>
    <div id="bubblemapall_user">

      <div class="side_button" id="leftScroll_user">
        <img id="leftScroll_image" src="" alt="왼쪽 화살">
      </div>

      <div id="myStatus_user">
      </div>


      <div class="side_button" id="rightScroll_user">
        <img id="rightScroll_image" src="" alt="오른쪽 화살">
      </div>
    </div>
  </div>

</div>

     

     