<!DOCTYPE html>
<html lang="en" ng-app="Popup" ng-csp>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="static/stylesheets/vendor/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="static/stylesheets/vendor/font-awesome.css">

    <link rel="stylesheet" type="text/css" href="static/stylesheets/vendor/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/stylesheets/pages/animation.css">

    <link rel="stylesheet" type="text/css" href="static/stylesheets/pages/popup.css">
    <!-- <link rel="stylesheet" href="stylesheets/css/list-theme.css"> -->
    <link rel="stylesheet" type="text/css" href="static/stylesheets/pages/list-tutorials.css">
    <link rel="stylesheet" type="text/css" href="static/stylesheets/vendor/webbles-angular-csp.css">
</head>

<body>
	<header ng-controller="headerController as hc">
		<a href="https://webbles.net">
			<img src="static/img/bi.png" alt="Webbles Logo" id="webbles-logo" ng-click="openWebbles()">
		</a>
	</header>
	<section>
		<div ng-view>
		</div>
		<div id="builder-button" ng-controller="builderController">
			<button ng-click="executeBuilder()">빌더모드 실행하기</button>
		</div>	
	</section>
	<!-- jQuery -->
	<script type="text/javascript" src="static/javascripts/vendor/jquery-1.11.1.min.js"></script>
	<!-- Bootstrap -->
    <script type="text/javascript" src="static/javascripts/vendor/bootstrap.min.js"></script>
	<!-- Angular -->
	<script type="text/javascript" src="static/javascripts/vendor/webbles-angular.min.js"></script>
	<script type="text/javascript" src="static/javascripts/vendor/webbles-angular-route.min.js"></script>
	<script type="text/javascript" src="static/javascripts/vendor/webbles-angular-animate.min.js"></script>
    <!-- Native -->
    <script type="text/javascript" src="static/javascripts/popupApp.js"></script>
</body>
</html>
