body {
    max-width: 416px;
    min-width: 416px;
    border: 8px solid #285f9c;
    border-top: 0;
    margin: 0;
    border-radius: 6px;
    header {
        background-color: #285f9c;
        border: 0;
        a:focus {
            outline: none;
        }
        #webbles-logo {
            display: block;
            margin: 0 auto;
            padding: 17px 0;
            border: 0;
        }
    }
}

#builder-button {
    & > button {
        border-radius: 3px;
        margin: 10px 0 0 0;
        height: 30px;
        border: 0;
        color: #fff;
        background-color: #f5cd4b;
        display: block;
        width: 100%;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    border-left: 1px solid #ababab;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    // border: 1px solid #ababab;
    background-color: #ababab;
}